$background-grey: #f7f7f7;
$ultra-light-grey: #bfbfbf;
$light-grey: #757575;
$middle-grey: #ebebeb;
$grey: #474747;
$yellow: #ffed05;
$red: #ff0000;

$base-font-size: 16px;
$base-font-size-mobile: 14px;

$font-family: "Lato", sans-serif;

$medium: 576px;
$large: 960px;