@import "./variables";
@import "./typographie";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
}

html,
body {
  font-family: $font-family;
  font-size: $base-font-size;
}

.section {
  margin: 0 auto;
  max-width: 1450px;
  width: 100%;

  &__inner {
    display: flex;
    padding: 0 25px;
    position: relative;
    width: 100%;

    &--small {
      margin: 0 auto;
      max-width: 720px;
    }

    &--align-center {
      align-items: center;
    }
  }
}

/** General Styles **/
ul {
  margin: 0;
  padding: 0;
}

a {
  color: $grey;
  text-decoration: none;
}

h1 {
  @media all and (min-width: $large) {
    font-size: 2.25rem;
  }

  color: $grey;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-shadow: 0 15px 20px rgba(64, 64, 64, 0.33);
}

h2 {
  text-shadow: 0 15px 20px rgba(64, 64, 64, 0.33);
  color:$grey;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}