parameters:
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    paths:
        - %currentWorkingDirectory%/src/
    level: 7
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    checkUninitializedProperties: true
    reportMaybes: true
    excludePaths:
        - %currentWorkingDirectory%/src/*/Tests/*
